.products-table {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 12px;
}

.products-table::-webkit-scrollbar {
    width: 6px;
}

.products-table::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #cecece;
}

.products-table::-webkit-scrollbar-track {
    margin: 6px 6px;
    background-color: transparent;
}

.stock-table {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    border-collapse: collapse;
}

.stock-table thead {
    border-bottom: 1px solid #d4d4d4;
    top: 0;
    position: sticky;
}

.stock-table tbody tr:nth-child(odd){
    background-color: #f1f1f1;
}

.stock-table tbody tr:nth-child(even){
    background-color: #ffffff;
}

.stock-table thead th {
    font-weight: 550;
    background-color: #ffffff;
}

.stock-table th, td {
    padding: 5px 10px;
}

.stock-table th:first-child,
.stock-table td:first-child {
    width: 50%;
}

.stock-table th:nth-child(4),
.stock-table td:nth-child(4) {
    width: 10%;
}

.stock-table th:nth-child(5),
.stock-table td:nth-child(5) {
    width: 8%;
}

.badge {
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #ff1414;
    border-radius: 8px;
}

.stock-table.supplier-table thead th:first-child {
    font-size: 10px;
    font-weight: 550;
    text-transform: uppercase;
}

.stock-table.supplier-table thead th:last-child {
    font-size: 10px;
    font-weight: 550;
    text-transform: uppercase;
    width: 10%;
}

.stock-table.supplier-table thead th:last-child,
.stock-table.supplier-table tbody td:last-child {
    text-align: end;
}

.stock-table.supplier-table tbody {
    width: 90%;
}
