/*
    global.css
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Use a modern sans-serif font */
    color: #333; /* Dark text for readability */
}

.container {
    padding: 0 100px;
    box-sizing: border-box;
    margin: auto;
    max-width: 2000px;
}

.content {
    display: flex;
    gap: 1rem;
    align-items: start;
    width: 100%;
    margin-top: -20px;
    height: calc(100vh - 400px);
}

@media screen and (max-width: 2000px) {
    .container {
        max-width: 1600px;
    }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #fff;
}
.cart-footer {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.finalize-purchase-btn {
    width: 100%;
    padding: 12px;
    background-color: #2eca53;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.finalize-purchase-btn:hover {
    background-color: #1faa40;
}

.finalize-purchase-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}