.products-table .scroll-table {
    overflow-y: auto;
    height: calc(100vh - 470px);
    margin-left: -1rem;
    margin-right: -1rem;
}

.payment-table {
    background: #fff;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 6px;
    overflow: hidden;
    padding: 1rem;
    margin: .4rem 1rem 1rem 1rem;
}

.stock-table {
    width: 100%;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
}

.stock-table thead {
    position: sticky;
    z-index: 2;
    top: 0;
    background: #f1f2f3;
}

.stock-table tbody tr:nth-child(even){
    background-color: #fafafa;
}

.stock-table tbody tr:nth-child(odd){
    background-color: white;
}

.stock-table tbody tr.exceed-stock {
    background-color: #ffe5e5;
}

.stock-table tbody tr.exceed-stock input {
    border-color: red;
    color: red;
}

.stock-table tbody tr td.quantity .exceed-stock-icon {
    position: relative;
}

.stock-table tbody tr td.quantity .exceed-stock-icon .bi-exclamation-triangle {
    position: absolute;
    z-index: 1;
    left: 8px;
    top: 8px;
    color: red ;
    visibility: hidden;
}

.stock-table tbody tr td.quantity .exceed-stock-icon .bi-caret-right-fill {
    position: absolute;
    z-index: 1;
    left: -13px;
    top: 9px;
    color: red;
    visibility: hidden;
}

.stock-table tbody tr td.quantity .exceed-stock-text {
    background: red;
    color: white;
    font-size: 10px;
    margin-left: 5px;
    position: absolute;
    left: -185px;
    top: 7px;
    z-index: 1;
    padding: 2px 5px;
    border-radius: 4px;
    visibility: hidden;
    font-size: 12px;
}

.stock-table tbody tr.exceed-stock td.quantity .exceed-stock-icon .bi-exclamation-triangle {
    visibility: visible;
}

.stock-table tbody tr.exceed-stock td.quantity:hover .exceed-stock-text {
    visibility: visible;
}

.stock-table tbody tr.exceed-stock td.quantity:hover .exceed-stock-icon .bi-caret-right-fill {
    visibility: visible;
}

.stock-table th, td {
    padding: 5px 10px;
    width: 100px;
}

.stock-table thead th {
    font-weight: 550;
    font-size: 11px;
    padding: 8px 10px;
}

.stock-table th:first-child,
.stock-table td:first-child {
    flex: 1;
    width: auto;
}

.stock-table tr td {
    border: 1px solid #ebebeb;
}

.stock-table td.description div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stock-table td input {
    padding: 0 11px;
}

.stock-table td.stock {
    border: 1px solid #d0d0d0;
    color: #52c41a;
    overflow: hidden;
    background-color: #edf9e8;
    font-weight: 500;
}

.stock-table td.stock i {
    display: none;
}

.badge {
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #ff1414;
    border-radius: 8px;
}

.supplier-table {
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    border-collapse: collapse;
    margin-top: 3px;
    margin-bottom: 15px;
}

.supplier-table thead {
    border-bottom: 1px solid #d4d4d4;
    z-index: 2;
    top: 0;
    background: #fff;
}

.supplier-table thead th {
    font-weight: 550;
}

.supplier-table th, td {
    padding: 5px 10px;
}

.supplier-table tbody tr:nth-child(odd){
    background-color: #f1f1f1;
}

.supplier-table tbody tr:nth-child(even){
    background-color: #ffffff;
}

.supplier-table th:first-child,
.supplier-table td:first-child {
    text-align: left;
}

.supplier-table th:last-child,
.supplier-table td:last-child {
    text-align: right;
}

.supplier-table .supplier-info tr {
    display: inline;
    text-transform: uppercase;
}

.supplier-table .supplier-info th {
    font-size: 14px;
}

.supplier-info {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
  padding: 1rem 0;
}

.payment-cart-totalizers {
  padding: 1rem;
}

.container-counter {
  display: flex;
  gap: 10px;
  align-items: center;
  text-wrap: nowrap;
}

.supplier-info i {
  color: blue;
}

.supplier-table tr td.quantity input {
    width: 75px;
    padding: 0 11px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filter {
    width: 100%;
}

.filter label {
    font-size: 11px;
}

.supplier-info .totalizers {
    display: flex;
    align-items: center;
    gap: 15px;
}

.progress-bar {
    width: 80px;
    height: 7px;
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
}

.progress-bar::after {
    width: 70%;
    background-color: orange;
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 5px;
}

/* Hover, Active, etc */

.stock-table td.stock {
    cursor: pointer;
}

.stock-table td.stock:hover i {
    display: initial;
}

.capacity-icons {
    display: none;
    flex-direction: column;
    margin-left: 5px;
    font-size: 10px;
    color: #c5c5c5;
    vertical-align: middle;
}
.capacity-icons i {
    line-height: 12px;
    cursor: pointer;
}
.capacity-icons i:hover {
    color: #00a31b;
}
.total40hc:hover .capacity-icons {
    display: inline-flex;
}