.products-table .scroll-table {
    overflow-y: auto;
    height: calc(100vh - 400px);
    margin-left: -1rem;
    margin-right: -1rem;
}

.payment-table {
    margin-bottom: 20px;
}

.stock-table {
    width: 100%;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
}

.stock-table thead {
    position: sticky;
    z-index: 2;
    top: 0;
    background: #f1f2f3;
}

.stock-table tbody tr:nth-child(even){
    background-color: #fafafa;
}

.stock-table tbody tr:nth-child(odd){
    background-color: white;
}

.stock-table th, td {
    padding: 5px 10px;
    width: 100px;
}

.stock-table thead th {
    font-weight: 550;
    font-size: 11px;
    padding: 8px 10px;
}

.stock-table th:first-child,
.stock-table td:first-child {
    flex: 1;
    width: auto;
}

.stock-table tr td {
    border: 1px solid #ebebeb;
}

.stock-table td.description div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stock-table td input {
    padding: 0 11px;
}

.badge {
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #ff1414;
    border-radius: 8px;
}

.supplier-table {
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    border-collapse: collapse;
    margin-top: 3px;
    margin-bottom: 15px;
}

.supplier-table thead {
    border-bottom: 1px solid #d4d4d4;
    z-index: 2;
    top: 0;
    background: #fff;
}

.supplier-table thead th {
    font-weight: 550;
}

.supplier-table th, td {
    padding: 5px 10px;
}

.supplier-table tbody tr:nth-child(odd){
    background-color: #f1f1f1;
}

.supplier-table tbody tr:nth-child(even){
    background-color: #ffffff;
}

.supplier-table th:first-child,
.supplier-table td:first-child {
    text-align: left;
}

.supplier-table th:last-child,
.supplier-table td:last-child {
    text-align: right;
}

.supplier-table .supplier-info tr {
    display: inline;
    text-transform: uppercase;
}

.supplier-table .supplier-info th {
    font-size: 14px;
}

.supplier-info {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
}

.container-counter {
  display: flex;
  gap: 10px;
  align-items: center;
  text-wrap: nowrap;
}

.supplier-info i {
  color: blue;
}

.supplier-table tr td.quantity input {
    width: 75px;
    padding: 0 11px;
}

.supplier-info .totalizers {
    display: flex;
    align-items: center;
    gap: 15px;
}

.progress-bar {
    width: 80px;
    height: 7px;
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
}

.progress-bar::after {
    width: 70%;
    background-color: orange;
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 5px;
}
