.products-table .scroll-table {
    overflow-x: auto;
    height: calc(100vh - 100px);
}

.stock-table {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    border-collapse: collapse;
}

.stock-table thead {
    border-bottom: 1px solid #d4d4d4;
    position: sticky;
    z-index: 2;
    top: 0;
    background: #fff;
}

.stock-table tbody tr:nth-child(odd){
    background-color: #f1f1f1;
}

.stock-table tbody tr:nth-child(even){
    background-color: #ffffff;
}

.stock-table thead th {
    font-weight: 550;
}

.stock-table th, td {
    padding: 5px 10px;
}

.stock-table th:first-child,
.stock-table td:first-child {
    width: 50%;
}

.stock-table th:nth-child(4),
.stock-table td:nth-child(4) {
    width: 10%;
}

.stock-table th:nth-child(5),
.stock-table td:nth-child(5) {
    width: 8%;
}

.stock-table td.description div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.badge {
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: #ff1414;
    border-radius: 8px;
}
