.card {
    background: #fff;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 6px;
    overflow: hidden;
    padding: 1rem;
}

.products-table {
    width: 70%;
    padding: 0rem 1rem 1rem .6rem;
    height: 100%;
}

.payment-cart {
    width: 30%;
    padding: 0rem 0rem 1rem 0;
    height: 100%;
    position: relative;
}

#payment-cart {
    overflow-y: auto;
    max-height: calc(100vh - 500px);
}

.t-right {
    text-align: right;
}
